src/data/schema/test.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="person" >

        <xs:complexType>
            <xs:sequence>
              <xs:element name="firstName" type="xs:string"/>
              <xs:element name="lastName" type="xs:string"/>
              <xs:element name="city" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute ref="user" use="required"/>
          </xs:complexType>

    </xs:element>
    
    <!-- definition of attributes -->
    <xs:attribute name="user" type="xs:string"/>

</xs:schema>